<template name="empuser">
	<header>
	  <title>Leave Application</title>
	</header>

	 <div class="container">

    <nav class="navbar navbar-default" role="navigation">
     	<!-- Brand and toggle get grouped for better mobile display -->
     	<div class="navbar-header">
     		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
     			<span class="sr-only">Toggle navigation</span>
     			<span class="icon-bar"></span>
     			<span class="icon-bar"></span>
     			<span class="icon-bar"></span>
     		</button>
     		<a class="navbar-brand" href="#"><span><img src="/imgs/logo_35x74.png" /></span></a>
     	</div>

     	<!-- Collect the nav links, forms, and other content for toggling -->
     	<div class="collapse navbar-collapse navbar-ex1-collapse">
     		<ul class="nav navbar-nav navbar-right">
     			{{> loginButtons}}

     		</ul>
     	</div><!-- /.navbar-collapse -->
     </nav>
       {{> yield}}
    </div>

    <footer>
	    <div class="container text-center">
	    	<div class="divider"></div>
	    	<h6>GMAPS Pte Ltd</h6>
	    </div>    	
    </footer>

</template>